{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/src/output.css' %}">
    
    {% block extra_css %}{% endblock %}

    <title>{% block head_title %}{% endblock head_title %}
    </title>
        {% block extra_head %}
        {% endblock extra_head %}
</head>
<body class="h-screen flex flex-col bg-base-200">
{% include 'partials/messages.html' %}

    {% block layout %}
    
    {% endblock %}
    
</body>
</html>